strtok;1;At 66.1 tons, where was the largest meteroite found on Earth?;Hoba West, Namibia;Hoba West;Namibia;
strtok;1;Why do we have cold weather on the northern hemisphere during winter?;The Earth's axis tilted;tilted axis;earth tilted;earths axis is tilted;
strtok;0;An electron has what type of charge?;negative;
strtok;1;What chemist first used letters as symbols for elements?;Jons Jakob Berzelius;Jons Berzelius;
strtok;0;Can you identify the former IBM scientist who discovered what is regarded by some to be the most beautiful mathematical picture in the world?;Benoit Mandelbrot;Mandelbrot;
strtok;1;The amount of water on Earth has changed in what way in the last 4.5 billion years?;Its The same;same;the same;no change;
strtok;0;In what country did Leo Baekeland invent plastic in 1907?;belgium;
strtok;0;Which Scientist wrote the 1600 work 'De Magnete', the first scientific tome based purely on experimentation?;Sir Isaac Newton;Isaac Newton;Newton;
strtok;0;In which country was the first usage of fiberglass?;Egypt, Africa;Egypt;Egypt Africa;
strtok;1;Which Scientist achieved the first artificial nuclear reaction in 1919?;Enerst Rutherford;Rutherford;
strtok;1;Which fundamental force was predicted by Enrico Fermi in 1934 to explain beta decay?;Weak Interaction;
strtok;0;What is the symbol for Unnilhexium?;Unh;
strtok;1;Why is gold mixed with other metals to make jewelry?;Its too soft to be used by itself;too soft;its too soft;
strtok;0;French Scientist Louis Pasteur tested his anti-rabies vaccine on July 6, 1885 on a boy, bitten by what aninal?;A dog;dog;
strtok;1;Why was surgeon Richard Charles Drew, who in 1940 started the first blood bank in the U.S., unable to donate blood?;He was African-American;he was black;he was coloured;african american;
strtok;0;What mammal's scientific classification is Panthera Onca?;The Jaguar;Jaguar;
strtok;0;What major chinese revolutionist died on February 19, 1997?;Deng Xiaoping;Xiaoping;
strtok;1;What did German Reformer Martin Luther do on December 10, 1520 that changed Western religion?;He publicly burned the papal edict to recant;burned the papal edict;burned papal edict;
strtok;1;Which king of Rome destroyed the city of Alba Longa?;Tullius Hostilius;Hostilius;
