############################################################################
#                             trivia.conf                                  #
#                    Blitzed Trivia Configuration File                     #
#                                                                          #
############################################################################

############################################################################
#   IRC_Server server                                                      #
#                                                                          #
#   Identifies what server the client should connect to, this can be       #
#   a hostname or IP address - make sure it allows bots!                   #
############################################################################

IRC_Server irc.quakenet.org


############################################################################
#  IRC_Port port                                                           #
#                                                                          #
#  What port the client should used to connect to IRC. For most server     #
#  it is safe to leave this at 6667                                        #
############################################################################

IRC_Port 6667


############################################################################
#  IRC_Channel #channel                                                    #
#                                                                          #
#  What IRC channel the bot should join upon registration with the server  #
#  and uses for all game purposes.                                         #
############################################################################

IRC_Channel #blitzed-trivia


############################################################################
#  IRC_TIME_Timeout time                                                   #
#                                                                          #
#  After how many seconds of not receiving data should the bot assume it   #
#  was disconnected? If you find your bot is disconnecting often where     #
#  there is no activity, you might want to raise this.                     #
############################################################################

CLIENT_TIME_Timeout 300


############################################################################
#  CLIENT_Nick nickname                                                    #
#                                                                          #
#  What IRC nickname the bot should use, keep this within limits of the irc#
#  server otherwise the bot cannot register.                               #
############################################################################

CLIENT_Nick blitzed-bot


##########################################################################
#  CLIENT_Username username                                              #
#                                                                        #
#  What username the bot should use for IRC. Its usually best to keep    #
#  this all lowercase                                                    #
##########################################################################

CLIENT_Username blitzia


##########################################################################
#  CLIENT_Realname realname                                              #
#                                                                        #
#  The realname the bot should use on the IRC server                     #
#                                                                        #
##########################################################################

CLIENT_Realname Blitzed IRC Trivia 0.8.01 (GPL)


##########################################################################
#  CLIENT_AdminPass                                                      #
#                                                                        #
#  Password used for certain admin commands                              #
#                                                                        #
##########################################################################

CLIENT_AdminPass testpass


##########################################################################
#  CTCP_Version version                                                  #
#                                                                        #
#  The CTCP version reply of the bot, self explanatory.                  #
#                                                                        #
##########################################################################

CTCP_Version Blitzed Trivia Version 0.8.01 (GPL)


##########################################################################
#  GAME_DB file                                                          #
#                                                                        #
#  The file used as the question database                                #
#                                                                        #
##########################################################################

GAME_DB question.db


##########################################################################
# GAME_AutoRem                                                           #
#                                                                        #
#  Automatically remove players from the game which leave the channel?   #
#                                                                        #
#  0 - no  1 - yes                                                       #
##########################################################################

GAME_AutoRem 0


##########################################################################
#  GAME_Points                                                           #
#                                                                        #
#  Number of points needed to win game.                                  #
#                                                                        #
##########################################################################

GAME_Points 10

##########################################################################
# GAME_BasePoints integer                                                #
# GAME_TimeWise binary                                                   #
#                                                                        #
# These two options facilitate a timewise point game. In a timewise point#
# game, players earn points relative to the time it took for them to     #
# answer the question (a ratio of timetaken/totaltime x basepoints).     #
#                                                                        #
# Set TimeWise to 1 to enable a timewise point game, otherwise the total #
# of BasePoints will be given for every correct question.                #
#                                                                        #
##########################################################################

GAME_BasePoints 1
GAME_TimeWise 0


##########################################################################
#  GAME_UseTeams  1 = Enabled 0 = Disabled                               #
#                                                                        #
#  Game is team based?                                                   #
#                                                                        #
##########################################################################

GAME_UseTeams 0


##########################################################################
#  GAME_NumTeams                                                         #
#                                                                        #
#  Number of teams in game (Only if GAME_UseTeams is 1)                  #
#                                                                        #
##########################################################################

GAME_NumTeams 2


##########################################################################
#  GAME_ACTIVITY_Enabled    1 = Enabled   0 = Disabled                   #
#  GAME_ACTIVITY_Count                                                   #
#  GAME_ACTIVITY_Time                                                    #
#                                                                        #
#  If ENABLED = 1 then an activity monitor is enabled. If the activity   #
#  monitor is enabled the bot will hold any questions until a certain    #
#  channel activity is reached. This activity is Count distinguishable   #
#  nicks messaging the channel within Time seconds.                      #
#                                                                        #
#  Example: If Enabled was set to 1, Count set to 3 and Time set to 60   #
#  then at least 3 people must have spoken within the last 120 seconds   #
##########################################################################

GAME_ACTIVITY_Enabled 0
GAME_ACTIVITY_Count 3
GAME_ACTIVITY_Time 120


##########################################################################
#  GAME_UseHint binary                                                   #
#  Enable the hint system?                                               #
#  1 = Enabled     0 = Disabled                                          #
##########################################################################

GAME_UseHint 1


##########################################################################
#  GAME_HintRatio integer                                                #
#                                                                        #
#  The hint per character of answer ratio.                               #
#  Example: If set to 4, there would be 1 character revealed per every 4 #
##########################################################################

GAME_HintRatio 4


##########################################################################
#  GAME_MinHInt integer                                                  #
#                                                                        #
#  The minimum length the answer must be for a hint to be administered.  #
#  It's probably safe to leave this no more than 5.                      #
##########################################################################

GAME_MinHint 5

##########################################################################
#  GAME_TIME_StartDelay integer                                          #
#                                                                        #
#  How many seconds until the game starts after being initialised        #
#                                                                        #
##########################################################################

GAME_TIME_StartDelay 15


##########################################################################
#  GAME_TIME_GiveHint integer                                            #
#                                                                        #
#  The time in seconds after the question has been administered that     #
#  a hint will be administered. Keep this below GAME_TIME_Timeout        #
##########################################################################

GAME_TIME_GiveHint 30


##########################################################################
#  GAME_TIME_Timeout integer                                             #
#                                                                        #
#  The total amount of time given to answer a question.                  #
#                                                                        #
##########################################################################

GAME_TIME_Timeout 50


##########################################################################
#  GAME_ShowAnswer binary                                                #
#                                                                        #
#  Show correct answer on timeout (not advised on small databases!       #
#                                                                        #
##########################################################################

GAME_ShowAnswer 1


##########################################################################
#  GAME_TIME_QuestionDelay integer                                       #
#                                                                        #
#  The amount of time between questions                                  #
#                                                                        #
##########################################################################

GAME_TIME_QuestionDelay 10



##########################################################################
#  GAME_SaveState binary                                                 #
#                                                                        #
#  Save game state to file?                                              #
#                                                                        #
##########################################################################

GAME_SaveState 1


##########################################################################
#  LOG_FromServer binary                                                 #
#                                                                        #
#  Log everything from the server? Log file grows quickly...             #
#  1 = Log       0 = Disabled                                            #
##########################################################################

LOG_FromServer 1


###########################################################################
#                                                                         #
#   TEXT_?                                                                #
#                                                                         #
#   Most of the public responses of the bot are defined here. Do not edit #
#any of these unless you know what you are doing. %s and %d's must remain #
#in the same order otherwise your bot will crash!                         #
#                                                                         #
###########################################################################


TEXT_GAME_Newplayer You have been added to the game, use the rem command (in channel) at any time to leave the game.

TEXT_GAME_Notplayer You are not a player.

TEXT_GAME_Removed You have been removed from the game.

TEXT_GAME_HasLeft %s has left the game.

TEXT_GAME_Listhead - Player List -

TEXT_Game_Listtail - End List, %d Players -

TEXT_GAME_Correct_Answer %d points to %s, who gave the correct answer %s

TEXT_GAME_Winmsg Congratulations to %s who has won this round! What a brain!

TEXT_GAME_Question  %s

TEXT_GAME_Timeout Sorry no one got that one... next question coming up

TEXT_GAME_Timeout_Show Sorry no one got that one, the answer was %s... next question coming up

TEXT_GAME_Start Welcome to Blitzed-Trivia v0.8.01. A new game is starting (%d questions in database). The game will commence in %d seconds.

TEXT_GAME_Settings Hints Enabled (1 hint : %d letters in answer).

TEXT_GAME_Toosmall Aye, the answers too small for a hint

TEXT_GAME_Hint Hint: %s

TEXT_GAME_Password Your ghost password is %s. Please write it down. You will need it to continue the game if you leave the channel.

########################### END CONFIG ###################################
